src/VitalChoice.Ecommerce.Domain/Entities/VeraCore/FilesSchema/855Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PurchaseOrderAcknowledgment">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="VendorID" />
        <xsd:element ref="VendorCustID" />
        <xsd:element ref="CompanyID" />
        <xsd:element ref="AcknowledgmentType" />
        <xsd:element ref="AcknowledgmentDate" />
        <xsd:element ref="AcknowledgmentTime" />
        <xsd:element ref="PurchaseOrderNumber" />
        <xsd:element ref="PurchaseOrderDate" minOccurs="0" />
        <xsd:element ref="CustomerPurchaseOrderNumber" minOccurs="0" />
        <xsd:element ref="OrderRejectionMessage" minOccurs="0" />
        <xsd:element ref="AcknowledgmentItemDetail" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute ref="From" />
      <xsd:attribute ref="To" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VendorID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="VendorCustID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CompanyID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AcknowledgmentType">
    <xsd:annotation>
      <xsd:documentation>
        AC = Item Accepted and Shipped
        IA = Item Accepted
        IB = Item Backordered
        IC = Item Accepted with Changes
        IR = Item Rejected
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:list>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AC" />
            <xsd:enumeration value="IA" />
            <xsd:enumeration value="IB" />
            <xsd:enumeration value="IC" />
            <xsd:enumeration value="IR" />
            <xsd:maxLength value="2" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:list>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AcknowledgmentDate">
    <xsd:annotation>
      <xsd:documentation>
        Date must be in the YYYY-MM-DD format
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:date"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AcknowledgmentTime">
    <xsd:annotation>
      <xsd:documentation>
        Time must be in the HH:MM:SS format
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:time"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PurchaseOrderNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PurchaseOrderDate" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation>
        Date must be in the YYYY-MM-DD format
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CustomerPurchaseOrderNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OrderRejectionMessage">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5000" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AcknowledgmentItemDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LineNumber" />
        <xsd:element ref="ItemAcknowledgmentType" />
        <xsd:element ref="VendorProductID" />
        <xsd:element ref="CustomerProductID" />
        <xsd:element ref="SubstitutedProductID" minOccurs="0" />
        <xsd:element ref="ReplacedProductID" minOccurs="0" />
        <xsd:element ref="OrderQuantity" />
        <xsd:element ref="UnitOfMeasure" />
        <xsd:element ref="AcknowledgedQuantity" />
        <xsd:element ref="AcknowledgedUnitOfMeasure" />
        <xsd:element ref="SellPrice" />
        <xsd:element ref="AcknowledgedSellPrice" />
        <xsd:element ref="ScheduledToShipDate" minOccurs="0" />
        <xsd:element ref="ItemRejectionMessage" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LineNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ItemAcknowledgmentType">
    <xsd:annotation>
      <xsd:documentation>
        AC = Item Accepted and Shipped
        IA = Item Accepted
        IB = Item Backordered
        IC = Item Accepted with Changes
        IR = Item Rejected
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:list>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AC" />
            <xsd:enumeration value="IA" />
            <xsd:enumeration value="IB" />
            <xsd:enumeration value="IC" />
            <xsd:enumeration value="IR" />
            <xsd:maxLength value="2" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:list>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="VendorProductID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CustomerProductID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubstitutedProductID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReplacedProductID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OrderQuantity">
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UnitOfMeasure">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AcknowledgedQuantity">
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AcknowledgedUnitOfMeasure">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SellPrice">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AcknowledgedSellPrice">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ScheduledToShipDate">
    <xsd:annotation>
      <xsd:documentation>
        Date must be in the YYYY-MM-DD format
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:date"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ItemRejectionMessage">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5000" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:attribute name="From">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="To">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
</xsd:schema>