src/VitalChoice.Ecommerce.Domain/Entities/VeraCore/FilesSchema/856Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ShipmentNotice">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="VendorID" />
        <xsd:element ref="VendorCustID" />
        <xsd:element ref="CompanyID" />
        <xsd:element ref="ShipmentID" />
        <xsd:element ref="TransactionDate" />
        <xsd:element ref="TransactionTime" minOccurs="0" />
        <xsd:element ref="FreightCarrier" />
        <xsd:element ref="FreightService" />
        <xsd:element ref="GrossWeight" />
        <xsd:element ref="SWSFreightCode" />
        <xsd:element ref="BillOfLadingNumber" />
        <xsd:element ref="FreightAmount" />
        <xsd:element ref="ShipDate" />
        <xsd:element ref="ShipTime" minOccurs="0" />
        <xsd:element ref="SCACCode" />
        <xsd:element ref="ShipComment" />
        <xsd:element ref="PickSlipId" />
        <xsd:element ref="ShipToAddress" />
        <xsd:element ref="ShipFromAddress" minOccurs="0" />
        <xsd:element ref="PurchaseOrderInformation" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute ref="From" />
      <xsd:attribute ref="To" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VendorID">
    <xsd:annotation>
      <xsd:documentation>
        VendorID must match what is received in the VendorID element of the XML Purchase Order
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="VendorCustID">
    <xsd:annotation>
      <xsd:documentation>
        VendorCustID must match what was receive in the XML Purchase order
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CompanyID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ShipmentID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TransactionDate" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation>
        Date is in the format YYYY-MM-DD
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransactionTime" type="xsd:time">
    <xsd:annotation>
      <xsd:documentation>
        Time is in the format HH:MM:SS
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FreightCarrier">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FreightService">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="GrossWeight">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SWSFreightCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BillOfLadingNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FreightAmount">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ShipDate" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation>
        Date is in the format YYYY-MM-DD
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShipTime" type="xsd:time">
    <xsd:annotation>
      <xsd:documentation>
        Time is in the format HH:MM:SS
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SCACCode">
    <xsd:annotation>
      <xsd:documentation>
        character code used to identify the carrier
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ShipComment">
    <xsd:annotation>
      <xsd:documentation>Shipping Comment</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8000" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PickSlipId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ShipToAddress">
    <!-- Ship To Address -->
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="AddressID" />
        <xsd:element ref="Name" minOccurs="0" />
        <xsd:element ref="Attention" minOccurs="0" />
        <xsd:element ref="Line1" minOccurs="0" />
        <xsd:element ref="Line2" minOccurs="0" />
        <xsd:element ref="City" minOccurs="0" />
        <xsd:element ref="StateProvinceCode" minOccurs="0" />
        <xsd:element ref="PostalCode" minOccurs="0" />
        <xsd:element ref="InternationalState" minOccurs="0" />
        <xsd:element ref="CountryCode" minOccurs="0" />
        <xsd:element ref="CountryName" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddressID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Name">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Attention">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Line1">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="255" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Line2">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="255" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="City">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StateProvinceCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PostalCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CountryCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ShipFromAddress">
    <!-- Ship From Address -->
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="AddressID" minOccurs="0" />
        <xsd:element ref="Name" minOccurs="0" />
        <xsd:element ref="Line1" minOccurs="0" />
        <xsd:element ref="Line2" minOccurs="0" />
        <xsd:element ref="City" minOccurs="0" />
        <xsd:element ref="StateProvinceCode" minOccurs="0" />
        <xsd:element ref="PostalCode" minOccurs="0" />
        <xsd:element ref="InternationalState" minOccurs="0" />
        <xsd:element ref="CountryCode" minOccurs="0" />
        <xsd:element ref="CountryName" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PurchaseOrderInformation">
    <!-- Purchase Order Information -->
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="PurchaseOrderNumber" />
        <xsd:element ref="CustomerPurchaseOrderNumber" minOccurs="0" />
        <xsd:element ref="ShipToAddress" minOccurs="0" />
        <xsd:element ref="ItemInformation" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PurchaseOrderNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CustomerPurchaseOrderNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ItemInformation">
    <!-- Item Information -->
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LineNumber" />
        <xsd:element ref="VendorProductID" />
        <xsd:element ref="CustomerProductID" minOccurs="0" />
        <xsd:element ref="QuantityShipped" />
        <xsd:element ref="UnitOfMeasure" />
        <xsd:element ref="LabelInformation" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LineNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="VendorProductID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CustomerProductID">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="QuantityShipped">
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UnitOfMeasure">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LabelInformation">
    <!-- Label Information -->
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LabelTrackingNumber" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LabelTrackingNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialNumbers">
    <!-- Label Information -->
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SN" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SN">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="255" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:attribute name="From">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="To">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:element name="InternationalState">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CountryName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>